# CodeIgniter 4 writable folders
/writable/cache/*
!/writable/cache/index.html
/writable/logs/*
!/writable/logs/index.html
/writable/session/*
!/writable/session/index.html
/writable/debugbar/*

# Backup and Archives
_nextjs_backup/
*.zip
scratch/

# Environment files
.env
.env*.local

# System files
.DS_Store
Thumbs.db
